{% extends 'base.html' %}

{% block content %}

<hr class="line">
    <div class="header-row">
        <h1>Student Application History</h1>
        <a class="blue-button"
            href="{% url 'stu_dash' %}">
            Back
        </a>
    </div>
<hr class="line">

<div class="content">
    Student Name: {{ student.student_name }}
    <br>
    Department: {{ student.department }}

    <table class="table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Drive Name</th>
                <th>Job Title</th>
                <th>Application status</th>
            </tr>
        </thead>

        <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.drive.company.company_name }}</td>
                    <td>{{ application.drive.drive_name }}</td>
                    <td>{{ application.drive.job_title }}</td>
                    <td>{{ application.application_status }}</td>
                </tr>
        </tbody>

        {% endfor %}
    </table>
</div>

{% endblock %}