{% extends 'base.html' %}

{% block content %}
<h1>Drive: {{ drive.drive_name }}</h1>
<p>
    <div>
        Job title: {{ drive.job_title }}
    </div>

    <div>
        Job description: {{ drive.job_description }}
    </div>

    <div>
        Eligibility criteria: {{ drive.eligibility_criteria }}
    </div>

    <div>
        Application deadline: {{ drive.application_deadline }}
    </div>

    <div>
        Location: {{ drive.location }}
    </div>

    <div>
        Salary: {{ drive.salary }}
    </div>

    {% if request.user.is_authenticated and request.user.role == 'Company' %}
        <form 
            action="{% url 'apply_drive' company.id drive.id %}"
            method="post">
            {% csrf_token %}
            <button
                type="submit">
                Apply now
            </button>
        </form>
    {% endif %}

    <button>
        <a href="{% url 'company_details' company.id %}">Back</a>
    </button>
</p>
{% endblock %}