{% extends 'base.html' %}

{% block content %}
<h1>Student Application</h1>

    <div>
        Student Name: {{ student.student_name }}
    </div>
    <div>
        Department: {{ student.department }}
    </div>
    <div>
        Graduation year: {{ student.graduation_year }}
    </div>
    <div>
        Drive: {{ drive.drive_name }}
    </div>
    <div>
        Job Title: {{ drive.job_title }}
    </div>
    {% if student.resume %}
        <a href="{{ student.resume.url }}">
            View Resume
        </a>
    {% endif %}

    <form 
        action="{% url 'change_status' drive.id application.id %}"
        method="post">
        {% csrf_token %}

        <select 
            name="status">
            <option 
                value="Shortlist"
                {% if application.application_status == 'Shortlisted' %}
                    selected
                {% endif %}>
                Shortlist 
            </option>
            

            <option 
                value="Accept"
                {% if application.application_status == 'Accepted' %}
                    selected
                {% endif %}>
                Accept 
            </option>

            <option 
                value="Reject"
                {% if application.application_status == 'Rejected' %}
                    selected
                {% endif %}>
                Reject 
            </option>
        </select>
        
        <button
            type="submit">
            Save
        </button>
        
    </form>  

    <a href="{% url 'review_drive' drive.id %}">
        Back 
    </a>

{% endblock %}