.line {
    background-color: black;
    height: 1px;
    margin: 20px 0;
}

table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    border-right: 1px solid black;
}

.header-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 45vw

}

.blue-button {
    color:red;
}