{% extends 'base.html' %}

{% block content %}
<hr class="line">
<h1>Welcome Admin</h1>

<form 
    action="{% url 'admin_dash' %}"
    method="get"
    >
    <input 
        type="text"
        name="search"
        placeholder="search students, organisations">

    <select name="filter">
        <option value="all">
            All
        </option>
        <option value="students">
            Students
        </option>
        <option value="companies">
            Companies
        </option>
    </select>

    <button type="submit">
        Submit
    </button>

</form>

{% if user.is_authenticated %}
    <a href="{% url 'log_out' %}">
        Logout
    </a>
{% endif %}
<hr class="line">

    <h1>Admin's Dashboard</h1>


    <h2>Registered Companies</h2>

    {% for company in approved_companies %}
        <div>
            {{ company.company_name }}  

            <form 
                action="{% url 'blacklist_company' %}"
                method="post">    

                    {% csrf_token %}
                    <input 
                        type="hidden" 
                        name="company_id" 
                        value="{{ company.id }}">

                    <button 
                        type="submit">
                        Blacklist 
                    </button>

            </form>
        </div>
    {% endfor %}


    <h2>Registered Students</h2>
    
    {% for student in approved_students %}
        <div>
            {{ student.student_name }}  
            <form 
                action="{% url 'blacklist_student' %}"
                method="post">    
                {% csrf_token %}

                    <input 
                        type="hidden" 
                        name="student_id" 
                        value="{{ student.id }}">

                    <button 
                        type="submit">
                        Blacklist
                    </button>
            </form>
        </div>
    {% endfor %}

    
    <h2>Company applications</h2>

    {% for company in pending_companies %}
        <div>
            {{ company.company_name }}  
            <form 
                action="{% url 'approve_company' %}"
                method="post">    
                    {% csrf_token %}

                    <input 
                        type="hidden" 
                        name="company_id" 
                        value="{{ company.id }}">

                    <button 
                        type="submit">
                        Approve
                    </button>

            </form>
        </div>
    {% endfor %}


    <h2>Ongoing Drives</h2>

    {% for drive in ongoing_drives %}
        <div>
            {{ drive.drive_name }}  {{ drive.company.company_name }}  

            <a href="{% url 'adm_drive_details' drive.company.id drive.id %}">
                View details 
            </a>
            
            <form
                method="post"
                action="{% url 'complete_drive' %}">
                {% csrf_token %}
                
                    <input 
                        type="hidden"
                        name="drive_id"
                        value="{{ drive.id }}">

                    <button 
                        type="submit">
                        Mark as completed
                    </button>
            </form>

        </div>
    {% endfor %}


    <h2>Student Applications</h2>

    {% for application in applications %}
        <div>
            {{ application.student.student_name }}  
            {{ application.drive.drive_name }}  
            {{ application.drive.company.company_name }}  
            {{ application.application_date }}    
            
            <a href="{% url 'adm_student_application' application.id %}">
                View
            </a>
        </div>
    {% endfor %}

{% endblock %}