/* CSS DEFAULT RESET */

/* An intuitive box-sizing model. This will ensure the inner box doesnt grow bigger than the outer box, giving weird look. * applies it everywhere. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin. For example, the space between <p> will be set to 0. */
*:not(dialog) {
    margin: 0;
}

/* Enable keyword animations. This will automatically set the required size and animation when we need to select an option from a dropdown */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
  }
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
    /* Increase line-height */
    line-height: 1.5;

    /* line-height of 1.5 may look good for paragraphs but it adds too much spacing for a heading, so another way to do it is 
        line-height: calc(1em + 0.5rem); 
    Instead of calculating the line height by multiplying the font-size with a number like 1.5, this alternative uses the font-size as a base, and adds a fixed amount of space to each line. */

    /* Improves text rendering, makes the text easier to read*/
    -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img, picture, video, canvas, svg {

    display: block;

    /* This is done to prevent the media from overflowing incase the container isnt big enough to fit in. */
    max-width: 100%;
}

/* Inherit fonts for form controls. Inputs, textarea and buttons dont do it by default. */
input, button, textarea, select {
    font: inherit;
}

/* Avoid text overflows. breaks a really long word or url if it doesnt fit, instead of adding a horizontal scrollbar. */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}


p {
/* Makes sure that the final line of text has atleast two words so it doesnt look bad */
    text-wrap: pretty;
}
/* The algorithm tries to make each line of text roughly the same length. */
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}


/* CUSTOM STYLING */
body {
    display: block;
    place-content: center;
}

/* login page container */
.container {
    text-align: center;
    background-color: yellow;
    padding: 5rem;
    border: 2rem;
    border-color: black;
}

.red-button {
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(255, 195, 195);
    border: 2px solid red;
    color: red;
}

.red-button:is( :hover, :focus) {
    background-color: white;
}

.blue-button {
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(193, 225, 239);
    border: 2px solid rgb(37, 62, 192);
    color: rgb(37, 62, 192);
}

.blue-button:is( :hover, :focus) {
    background-color: white;
}

.green-button {
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: rgb(218, 247, 218);
    border: 2px solid rgb(47, 124, 45);
    color: rgb(47,124,45);
}

.green-button:is( :hover, :focus) {
    background-color: white;
}

a {
    text-decoration: none;
    display: inline-block;
}

