{% extends 'base.html' %}

{% block content %}
    <h2> Set up your Profile!</h2>

    <form 
    action="{% url 'com_profile' %}"
    method="post">
        {% csrf_token %}
            <input 
                type="text" 
                name="company_name" 
                placeholder="Company name" 
                required>
            <br>

            <input 
                type="number" 
                name="hr_contact" 
                placeholder="HR contact number"
                required>
            <br>

            <input 
                type="text" 
                name="website" 
                placeholder="Website URL" 
                required>
            <br>

            <button class="blue-button"
                type="submit">
                Submit
            </button>
    </form>
{% endblock %}