{% extends 'base.html' %}

{% block content %}
<h1>Student Application</h1>

    <div>
        Student Name: {{ student.student_name }}
    </div>
    <div>
        Department: {{ student.department }}
    </div>
    <div>
        Graduation year: {{ student.graduation_year }}
    </div>
    <div>
        Drive: {{ drive.drive_name }}
    </div>
    <div>
        Job Title: {{ drive.job_title }}
    </div>
    <div>
        {% if request.user.is_superuser %}
            Application satus: {{ application.application_status }}
        {% endif %}
    </div>

    {% if student.resume %}
        <a href="{{ student.resume.url }}">
            View Resume
        </a>
    {% endif %}

    {% if is_company %}
        <form 
            action="{% url 'change_status' drive.id application.id %}"
            method="post">
            {% csrf_token %}

            <select 
                name="status">
                <option 
                    value="Shortlist">
                    {% if application.application_status == 'Shortlisted' %} 
                        Shortlist Selected 
                    {% else %}
                        Shortlist
                    {% endif %} 
                </option>
                

                <option 
                    value="Accept">
                    {% if application.application_status == 'Accepted' %} 
                        Accept Selected 
                    {% else %}
                        Accept
                    {% endif %} 
                </option>

                <option 
                    value="Reject">
                    {% if application.application_status == 'Rejected' %} 
                        Reject Selected 
                    {% else %}
                        Reject
                    {% endif %} 
                </option>
            </select>
            
            <button
                type="submit">
                Save
            </button>
            
        </form> 
    {% endif %} 

    {% if is_company %}
        <a href="{% url 'review_drive' drive.id %}">
            Back 
        </a>
    {% elif request.user.is_superuser %}
        <a href="{% url 'admin_panel' %}">
            Back 
        </a>
    {% endif%}

{% endblock %}